
.profileButtonsContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.mobileProfileButtons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.8rem;
}

.profileBtn,
.dashboardBtn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.6rem 1.2rem;
    border-radius: 2rem;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: white;
    color: #FF7D05;
    border: 2px solid #FF7D05;
}

.mobileProfileBtn,
.mobileDashboardBtn {
    width: 100%;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 500;
    background-color: white;
    color: #FF7D05;
    border: 2px solid #FF7D05;
}