.auth-container{
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.auth-container, .btn-container{
    display:flex;
    align-items: center;
}

.content-container{
    width: 25rem;
    height: 30rem;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
    justify-content: center;
}

.btn-container{
    width: 100%;
    height: 5rem;
    justify-content: center;
}

.auth-btn{
    border: none;
    background-color: white;
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size: 1rem;
    cursor:pointer;
}

.login-btn{
    margin-right: 3rem;
}

input{
    margin-bottom: 2rem;
}
input, .submit-btn{
    padding: 0.5rem;
}

.form-container{
    padding: 1.5rem;
}

#firstName, #lastName{
    width: 48%;
}